{% extends "layouts/layout1.html" %}
{% block title %}
Customer Admin
{% endblock %}

{% block content %}

<!-- Portfolio Grid Section -->
<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
          
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <a class="btn btn-primary btn-block" href="{{ url_for('add_customer') }}" role="button">Add Customer</a>
            </div>
          
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
          
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <a class="btn btn-primary btn-block" href="{{ url_for('add_class') }}" role="button">Add Class</a>
            </div>
         
          
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
          
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <a class="btn btn-primary btn-block" href="{{ url_for('add_class_member') }}" role="button">Add Class Member</a>
            </div>
          
          
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
          
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <a class="btn btn-primary btn-block" href="{{ url_for('add_payment') }}" role="button">Add Payment</a>
            </div>
          
        
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
         
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <a class="btn btn-primary btn-block" href="{{ url_for('add_expense') }}" role="button">Add Expense</a>
            </div>
         
          
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
          
            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
              <a class="btn btn-primary btn-block" href="#" role="button">Link</a>
            </div>
          
          
        </a>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About Heart and Hand Management System</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">This management system stores all relevant records and details relating to the running of Heart and Hand</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Details relating to customers details, expenses and payments and class details are kept in this system</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}