{% from "/macros/_render_field.html" import render_field %}
{% extends "layouts/layout1.html" %}
{% block title %}
Add Customer
{% endblock %}

{% block content %}

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
     <form method="POST" action="{{ url_for('add_customer') }}">
        {{ form.csrf_token }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.email) }}
        {{ render_field(street_address) }} 
        {{ render_field(suburb) }} 
        {{ render_field(state) }} 
        {{ render_field(postcode) }} 
        {{ render_field(phone) }} 
        {{ render_field(alternative_contact) }} 
        {{ render_field(alternative_contact_phone) }}
               
        notes = StringField('notes')
     </form>
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="#">
        <i class="fa fa-download mr-2"></i>
        Download Now!
      </a>
    </div>
  </div>
</section>

{% endblock %}