{% from "/macros/_macros.html" import render_field_with_errors, render_field %}
{% extends "layouts/layout1.html" %}
{% block title %}
Search Customers
{% endblock %}

{% block content %}

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Search Customers</h2>
    <div class="row">
        
       <a class="btn btn-primary btn-block" href="{{ url_for('add_customer') }}" role="button">Add New Customer</a>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <div class="container form_details">
          <form method="POST" action="{{ url_for('search_customers') }}">
              {{ form.csrf_token }}
              <dl>
                  {{ render_field(form.select) }}
                  <p>
                  {{ render_field(form.search) }}
                </dl>
              
              <input type="submit" value="search">
          </form>
        </div>  
    </div>
  </div>
</section>

{% endblock %}