{% from "/macros/_macros.html" import render_field_with_errors, render_field %}
{% extends "layouts/layout1.html" %}
{% block title %}
Success
{% endblock %}

{% block content %}

<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">Success adding child</h2>
    <hr class="star-light mb-5">
    <div class="row">
      Successfully added child
    </div>
   
  </div>
</section>

{% endblock %}